doctype html
//- basic libraries: jquery(1.10.2), d3js(3.5.4), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: true, og: true, favicon: true }
- var lib = { jquery: false, d3js: false, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: false }
- var assets = "assets"
- var favicon = "thumbnail.png"
- var title = "資料爬取與梳理"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@zbryikt", creator: "@zbryikt"}
- og.domain = "zbryikt.github.io"
- og.url = ""
- og.thumbnail = {width: 200, height: 200, type: "image/png"}
- og.thumbnail.url = "thumbnail.png"
- og.author = "zbryikt"
- og.section = "Taiwan"
- og.keyword = "zbryikt,template"
- og.description = ""
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="test.js")
    script(type="text/javascript",src="index.js")
  body
    #root
      h1 資料爬取與梳理
      div: a(href="slide.pdf") 課程講義
      h3 應用程式
      ul
        li: a(href="https://www.google.com.tw/chrome/browser/desktop/",target="_blank") Google Chrome 瀏覽器
        li: a(href="https://www.kimonolabs.com/",target="_blank") KimonoLabs
        li: a(href="https://chrome.google.com/webstore/detail/kimono-desktop/hmeapcbkmejjfmphikcpgbgakfnjcade",target="_blank") Kimono - Chrome Extension
        li: a(href="https://chrome.google.com/webstore/detail/javascript-library-for-co/hoooohdeiheekoemicbaeeiaokjhnpko",target="_blank") JavaScript Library for Console
      h3 線上服務
      ul
        li: a(href="http://107.167.188.247/",target="_blank") OpenRefine
        li: a(href="http://drive.google.com/",target="_blank") Google Drive / 試算表
        li: a(href="https://developers.facebook.com/tools/explorer",target="_blank") 臉書 Graph API 測試工具
      h3 範例網址
      ul
        li: a(href="http://www.17885.com.tw/modules/group/group_content.php?Serial=123&tab=donatelist",target="_blank") 捐款芳名錄 / 中華民國運動神經元疾病病友協會
        li: a(href="https://www.ptt.cc/bbs/Wanted/index.html",target="_blank") 批踢踢汪踢版 ( PTT Wanted )
      h3 預載資料
      ul
        li: a(href="data/als2.csv",target="_blank") 漸凍人協會線上捐款芳名錄
        li: a(href="data/ptt-wanted.csv",target="_blank") 批踢踢汪踢版 25 頁作者列表
        li: a(href="data/travel.xls",target="_blank") 國人出國旅遊人數 ( 100 / 101 年度 )
        li: a(href="data/village-yilan.xlsx",target="_blank") 村里長選舉資料 ( 宜蘭版 )
        li: a(href="data/village.xlsx",target="_blank") 村里長選舉資料 ( 全部 )
        //-li
          span 我是
          a#jquery-bookmarklet(href="")  jQuery 注入器
          span ，將我拖到書籤列就可以用囉！

    #footer
      a(href="http://x.co/dataproc") 本頁網址
